name: Build

on:
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 配置 QEMU 跨架构支持
        uses: docker/setup-qemu-action@v3

      - name: 配置 Docker Buildx 构建工具
        uses: docker/setup-buildx-action@v3

      - name: 登录 GHCR 镜像仓库
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: 构建并推送 Docker 镜像
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64, linux/arm64
          build-args: |
            LIBBT_BRANCH=${{ env.LIBBT_VERSION }}
            QBT_BRANCH=${{ env.QBT_VERSION }}
          tags: |
            ghcr.io/${{ github.repository }}:${{ env.QBT_VERSION }}
            ghcr.io/${{ github.repository }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
        env:
          LIBBT_VERSION: RC_1_1
          QBT_VERSION: v4_1_x
