name: Check

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  TZ: Asia/Shanghai

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: 检出当前仓库代码
        uses: actions/checkout@v6

      - name: 获取最新发布版本
        id: getVersion
        run: |
          SING_BOX_NEW="$(curl -fsSL -H "Authorization: Bearer $GITHUB_TOKEN" "https://api.github.com/repos/SagerNet/sing-box/releases" | jq -r 'map(select(.prerelease==false)) | first.tag_name')"
          CLOUDFLARED_NEW="$(curl -fsSL -H "Authorization: Bearer $GITHUB_TOKEN" "https://api.github.com/repos/cloudflare/cloudflared/releases" | jq -r 'map(select(.prerelease==false)) | first.tag_name')"
          echo "sing-box_new=$SING_BOX_NEW" >>"$GITHUB_OUTPUT"
          echo "cloudflared_new=$CLOUDFLARED_NEW" >>"$GITHUB_OUTPUT"

      - name: 对比版本哈希（缓存校验）
        id: cacheVersions
        uses: actions/cache@v5
        with:
          path: .releaseVersions
          key: releaseVersions_${{ steps.getVersion.outputs.sing-box_new }}_${{ steps.getVersion.outputs.cloudflared_new }}

      - name: 保存新的版本哈希到文件
        if: steps.cacheVersions.outputs.cache-hit != 'true'
        run: |
          echo "${{ steps.getVersion.outputs.sing-box_new }}" | tee .releaseVersions
          echo "${{ steps.getVersion.outputs.cloudflared_new }}" | tee -a .releaseVersions

      - name: 触发构建工作流
        if: steps.cacheVersions.outputs.cache-hit != 'true'
        run: |
          gh workflow run "Build"
