name: Delete

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  TZ: Asia/Shanghai

jobs:
  delete:
    runs-on: ubuntu-latest

    steps:
      - name: 检出当前仓库代码
        uses: actions/checkout@v6

      - name: 检查仓库资源状态
        id: status
        run: |
          RUN_COUNT=$(gh run list --limit 2 2>/dev/null | wc -l)
          REL_COUNT=$(gh release list --limit 1 2>/dev/null | wc -l)
          PKG_COUNT=$(gh api "/orgs/${{ github.repository_owner }}/packages/container/${{ github.event.repository.name }}" &>/dev/null && echo 1 || echo 0)
          echo "run_count=$RUN_COUNT" >> $GITHUB_OUTPUT
          echo "rel_count=$REL_COUNT" >> $GITHUB_OUTPUT
          echo "pkg_count=$PKG_COUNT" >> $GITHUB_OUTPUT

      - name: 清理工作流运行记录
        if: steps.status.outputs.run_count > 1
        uses: Mattraks/delete-workflow-runs@v2

      - name: 清理版本发布记录
        if: steps.status.outputs.rel_count != 0
        uses: sgpublic/delete-release-action@v1.2
        with:
          release-drop: true
          release-keep-count: 10
          draft-drop: false

      - name: 清理 GHCR 镜像仓库
        if: steps.status.outputs.pkg_count != 0
        uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          keep-n-untagged: 0
          keep-n-tagged: 10
